<div class="container">
  <div class="row" id="head-title">
    <div class="col-12">
      <h1>Welcome to your dashboard</h1>
    </div>
  </div>
    <div class="profile-header-wrapper">
      <div class="container profile-header-container text-center">
        <div class="row">
          <div class="col-md-3">
            <div class="profile-header-infos">
              <img src="http://lorempixel.com/output/nature-q-c-400-400-5.jpg" class="avatar-dashboard">
              <p>Email : <%= current_user.email %></p>
              <%= link_to "Edit my profile", edit_user_path(current_user), class: "button" %>
            </div>
          </div>
          <div class="col-md-9">
          <div class="row">
            <div class="tabs">
              <a class="tab active" data-target="#bookings">
                <h3>My bookings <i class="fa fa-calendar" aria-hidden="true"></i></h3>
              </a>
              <a class="tab" data-target="#offers">
                <h3>My offers <i class="fa fa-hand-o-right" aria-hidden="true"></i></h3>
              </a>
              <a class="tab" data-target="#requests">
                <h3>My requests <i class="fa fa-flag" aria-hidden="true"></i></h3>
              </a>
              </div>
              </div>
              </div>
            <div class="row">
              <div class="container text-center">
                <div class="tab-content" id="bookings">
                  <% @bookings.each do |booking| %>
                <div class= "booking">
                  <h3>Booking n°<%= booking.id %></h3>
                  <p>Start date : <%= booking.start_date %></p>
                  <p>End date : <%= booking.end_date %></p>
                  <p>Status : <%= booking.status %></p>
                </div>
                  <% end %>
                </div>
                <div class="tab-content hidden" id="offers">
                  <% current_user.cat_sitting_offers.each do |cat_sitting_offer| %>
                    <div class="card">
                      <%= cat_sitting_offer.title %>
                      <%= cat_sitting_offer.localisation %>
                      <%= cat_sitting_offer.description %>
                    </div>
                  <% end %>
                </div>
                <div class="tab-content hidden" id="requests">
                  <% current_user.cat_sitting_offers.each do |cat_sitting_offer| %>
                      <% cat_sitting_offer.bookings.each do |booking| %>
                        <div class="card">
                          <%= booking.cat_sitting_offer.title %>
                          <%= booking.cat_sitting_offer.localisation %>
                          <%= booking.start_date %>
                          <%= booking.end_date %>

                          <% if booking.status == "accepted" %>
                            <p>accepted</p>
                            <% elsif booking.status == "declined" %>
                            <p>declined</p>
                          <% else %>
                            <%= simple_form_for booking do |f| %>
                              <%= f.button :submit , "Accept" %>
                            <% end %>
                            <%= simple_form_for booking do |f| %>
                              <%= f.button :submit , "Decline" %>
                            <% end %>
                          <% end %>
                        </div>
                      <% end %>
                    <% end %>
                </div>
              </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="javascripts/tabs.js"></script>
