<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Welcome to your dashboard</h1>
    </div>
  </div>
  <p>This is where you find everything about your activity</p>
  <h1>My name is <%= current_user.first_name %></h1>
  <p>Your profile :</p>

  <div class="row">
    <div class = "col-xs-12 col-md-4" id = "dashboard-category">
      <img src="http://lorempixel.com/output/nature-q-c-400-400-5.jpg" class="avatar-dashboard">
    </div>
    <div class = "col-xs-12 col-md-8" id = "dashboard-category">
      <h2>Tableau de bord de <%= current_user.first_name %> <%= current_user.last_name %></h2> <%= link_to "Edit", edit_user_path(current_user), class: "btn btn-primary" %>
      <p><%= current_user.email %></p>
    </div>
  </div>

  <p>Dashboard avec bookings, offres, photo</p>

  <div class="row">
    <div class = "col-xs-12 col-md-" id = "dashboard-category">
      <h2>My bookings</h2>
      <% @bookings.each do |booking| %>
      <h3>Booking n°<%= booking.id %></h3>
      <p>Start date : <%= booking.start_date %></p>
      <p>End date : <%= booking.end_date %></p>
      <p>Status : <%= booking.status %></p>
      <% end %>
    </div>
    <div class = "col-xs-12 col-md-6" id = "dashboard-category">
      <h2>My offers</h2>
      <% current_user.cat_sitting_offers.each do |cat_sitting_offer| %>
        <div class="card">
          <%= cat_sitting_offer.title %>
          <%= cat_sitting_offer.localisation %>
          <%= cat_sitting_offer.description %>
        </div>
      <% end %>
      <h2>My requests</h2>
        <% current_user.cat_sitting_offers.each do |cat_sitting_offer| %>
          <% cat_sitting_offer.bookings.each do |booking| %>
            <div class="card">
              <%= booking.cat_sitting_offer.title %>
              <%= booking.cat_sitting_offer.localisation %>
              <%= booking.start_date %>
              <%= booking.end_date %>

              <% if booking.status == "accepted" %>
                <p>accepted</p>
                <% elsif booking.status == "declined" %>
                <p>declined</p>
              <% else %>
                <%= simple_form_for booking do |f| %>
                  <%= f.button :submit , "Accept" %>
                <% end %>
                <%= simple_form_for booking do |f| %>
                  <%= f.button :submit , "Decline" %>
                <% end %>
              <% end %>

            </div>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
