<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Welcome to your dashboard</h1>
    </div>
  </div>
  <p>This is where you find everything about your activity</p>

  <p>Your profile :</p>

  <div class="row">
    <div class = "col-xs-12 col-md-4" id = "dashboard-category">
      <img src="http://lorempixel.com/output/nature-q-c-400-400-5.jpg" class="avatar-dashboard">
    </div>
    <div class = "col-xs-12 col-md-8" id = "dashboard-category">
      <h2>Tableau de bord de <%= @user.first_name %> <%= @user.last_name %></h2> <%= link_to "Edit", edit_user_path(@user), class: "btn btn-primary" %>
      <p><%= @user.email %></p>
    </div>
  </div>

  <p>Dashboard avec bookings, offres, photo</p>

  <h1>Cam added that</h1>
  <% bookings.each do |booking| %>
  <h1>Request de <%=  booking.user %></h1>
    <div class="card">
      booking.cat_sitting_offer.title
      booking.cat_sitting_offer.localisation
      booking.start_date
      booking.end_date

        <%= simple_form_for booking do |f| %>
          <%= f.button :submit , "Accept" %>
        <% end %>
    </div>
  <% end %>
    booking.status = "pending"
  <h1>Cam stopped to add stuff there</h1>

  <div class="row">
    <div class = "col-xs-12 col-md-6" id = "dashboard-category">
      <h2>My bookings</h2>
      <% @bookings.each do |booking| %>
      <h3>Booking n°<%= booking.id %></h3>
      <p>Start date : <%= booking.start_date %></p>
      <p>End date : <%= booking.end_date %></p>
      <p>Status : <%= booking.status %></p>
      <% end %>
    </div>
    <div class = "col-xs-12 col-md-6" id = "dashboard-category">
      <h2>My offers</h2>
    </div>
  </div>
</div>
