<div id="infowindow">
  <%= cso.title %>
  <% if cso.photos? %>
    <%= cl_image_tag cso.photos.first.path, class: "card-user avatar"%>
    <%= link_to "", cat_sitting_offer_path(cso), class: "card-link"  %>
  <% else %>
    <%= image_tag "https://www.bunnyholder.com/30/30", class: "card-user avatar"%>
    <%= link_to "", cat_sitting_offer_path(cso), class: "card-link"  %>
  <% end %>
</div>
