<div class="text-title">
  <h2>Welcome to EasyCat</h2>
  <h3>Find someone to take care of your cat</h3>
</div>


<div class="row">
  <div class="col-xs-8" id="card-column">
    <div class="row">
      <% @cat_sitting_offers.each do |cat_sitting_offer| %>
        <div class="col-xs-6 ">

          <% if cat_sitting_offer.photos? %>
            <div class="card"
              style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cat_sitting_offer.photos.first.path, width: 500, height: 1000 %>')">
          <% else %>
            <div class="card"
                style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))">
          <% end %>
              <div class="card-description">
                <h2>
                  <%= cat_sitting_offer.title %>
                </h2>
                <p>
                  <%= cat_sitting_offer.localisation %>
                </p>
              </div>

              <% if cat_sitting_offer.user.photo? %>
                <%= cl_image_tag cat_sitting_offer.user.photo.path, class: "card-user avatar avatar-bordered"%>
                <%= link_to "", cat_sitting_offer_path(cat_sitting_offer), class: "card-link"  %>
              <% else %>
                <%= image_tag 'avatar.png', class: "card-user avatar avatar-bordered"%>
                <%= link_to "", cat_sitting_offer_path(cat_sitting_offer), class: "card-link"  %>
              <% end %>
            </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-xs-4" id="map-column">
    <div id="map"></div>
  </div>

</div>


<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function () {
      var handler = Gmaps.build ('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(3);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
      }
    });
  });
  </script>
<% end %>

