<div class = "text-title">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <h2>Make your choice!</h2>
      </div>
      <div class="col-xs-8">
        <div class="container-link">
          <div class="form-search">
            <%= render '/pages/search_form' %>
          </div>
          <%= link_to 'See all', cat_sitting_offers_path, class: "button" %>
        </div>
      </div>
    </div>
  </div>
<% if @cat_sitting_offers.length == 0 %>
  <div class="container">
    <div class="span">
      <p>No catsitters yet around <%= @address %>....</p>
      <p>Search again! </p>
      <div class="span-form">
        <%= render '/pages/search_form' %>
      </div>
    </div>
  </div>
<% else %>
  <div class="row">
  <p>Results shown for: <b><%= @address %></b></p>
    <div class="col-xs-8" id="card-column">
      <div class="row">
        <% @cat_sitting_offers.each do |cat_sitting_offer| %>
          <div class="col-xs-6 ">

            <% if cat_sitting_offer.photos? %>
              <div class="card"
                style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cat_sitting_offer.photos.first.path, crop: :fit %>')">
            <% else %>
              <div class="card"
                  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))">
            <% end %>
              <div class="card-category">
                <i class="fa fa-map-marker" aria-hidden="true"></i> <%= cat_sitting_offer.localisation %>
              </div>
              <div class="card-description">
                <h2>
                  " <%= cat_sitting_offer.title %> "
                </h2>
                  <i class="fa fa-user" aria-hidden="true"></i> <%= cat_sitting_offer.user.first_name %> <%= cat_sitting_offer.user.last_name %>
              </div>
              <% if cat_sitting_offer.user.photo? %>
                <%= cl_image_tag cat_sitting_offer.user.photo.path,:width=>50, :height=>50, :gravity=>"auto", :crop=>"fill", class: "card-user avatar-bordered"%>
                <%= link_to "", cat_sitting_offer_path(cat_sitting_offer), class: "card-link"  %>
              <% else %>
                <%= image_tag 'avatar.png', class: "card-user avatar avatar-bordered"%>
                <%= link_to "", cat_sitting_offer_path(cat_sitting_offer), class: "card-link"  %>
              <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <div class="col-xs-4" id="map-column">
      <div id="map"></div>
    </div>
  </div>

  <%= content_for(:after_js) do %>
    <script>
      $(document).ready(function () {
        var handler = Gmaps.build ('Google');
        handler.buildMap({ internal: { id: 'map' } }, function() {
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(3);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(14);
        }
      });
    });
    </script>
  <% end %>
<% end %>
