<h1>More about <%= @cat_sitting_offer.title %> ad of <%= @cat_sitting_offer.user %></h1>

<h1>
  <% @cat_sitting_offer.title %>
</h1>

<p>
  <%= @cat_sitting_offer.localisation %>
</p>

<p>
  <%= @cat_sitting_offer.description %>
</p>

<% @cat_sitting_offer.photos.each do |photo| %>
  <%= cl_image_tag photo.path, height: 300, width: 200, crop: :fill %>
<% end %>


<%= simple_form_for [@cat_sitting_offer, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit "Book now", class: "btn btn-primary" %>
<% end %>
