
<% if @cat_sitting_offer.photos? %>
  <div class="banner" id="cso-banner" style="background-image: linear-gradient(-225deg, rgba(255,89,249,0.6) 0%, rgba(61,33,60,0.5) 50%), url('<%= cl_image_path @cat_sitting_offer.photos.first.path, width: 700, height: 1000 %>')">
  </div>
<% else %>
  <div class="banner" id="cso-banner" style="background-image: linear-gradient(-225deg, rgba(255,89,249,0.6) 0%, rgba(61,33,60,0.5) 50%)">
  </div>
<% end %>
<div class="offer-container  padded">
  <div class="flex-inline">
    <div>
      <h2><%= @cat_sitting_offer.title %></h2>
      <h3><%= @cat_sitting_offer.localisation %></h3>
      <p>15€/jour</p>
    </div>

  <div>
    <% if @cat_sitting_offer.user.photo? %>
        <%= cl_image_tag(@cat_sitting_offer.user.photo.path, :width=>200, :height=>200, :gravity=>"auto", :crop=>"fill", class: "avatar-bordered") %>
      <% else %>
        <%= image_tag 'avatar.png', :width=>200, :height=>200, :gravity=>"auto", :crop=>"fill", class: "avatar-offer avatar-bordered" %>
      <% end %>
      <p class="text-center" ><%= @cat_sitting_offer.user.first_name%> </p>
    </div>
  </div>

  <div class="row padded">
    <% if @cat_sitting_offer.photos? %>
      <% @cat_sitting_offer.photos.each do |photo| %>
        <div class="col-xs-12 col-md-4">
          <%= cl_image_tag photo.path, width: 250, height: 150, crop: :fill %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%  if @cat_sitting_offer.user != current_user %>
    <%= simple_form_for [@cat_sitting_offer, @booking] do |f| %>
      <%= hidden_field_tag 'user_id', @booking.user %>
      <% if current_user.first_name %>
        <%=  f.association :user do |c| %>
          <%= c.input :first_name %>
          <%= c.input :last_name %>
        <% end %>
      <% end %>
      <%= f.input :start_date, as: :string, input_html: {class: "form-control date-pick"} %>
      <%= f.input :end_date, as: :string, input_html: {class: "form-control date-pick"} %>
      <%= f.submit "Book now", class: "btn btn-primary" %>
    <% end %>
  <% end %>

  <% if current_user == @cat_sitting_offer.user %>
    <%= link_to "Edit", edit_cat_sitting_offer_path(@cat_sitting_offer), class: "button" %>
    <%= link_to 'Delete', cat_sitting_offer_path(@cat_sitting_offer), method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %>
  <% else %>
    <p><%= link_to('Book this offer', new_cat_sitting_offer_booking_path(@cat_sitting_offer), class: "button") %></p>
    <p><%= link_to('Go back to the list of available cat sitters', cat_sitting_offers_path, class: "link_orange") %></p>
  <% end %>
</div>




